.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-paddingless-horizontal {
     padding-left: 0; padding-right: 0; 
    }



    .button {

        width: 140px;
    }

    .randDrinkBtn {

        display: flex;
        justify-content: center;
        align-items: center;
    }

#drinkDisc {
    padding-top: 15px;
}


    .drinksDiv {
        background-color: aqua;
    }

    #drinkPic {
        height: 170px;
        width: 170px;

    }

    #drinkPicDiv {
        padding-top: 15px;

    }

    .is-paddingless-top {
        padding-top: 0px;
    }
#drinkNameh2 {
    font-weight: bold;
    font-size: 20px;
}
